<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="iiwa_transmission" params="hardware_interface">
    <!-- Transmission for joint 1 -->
    <transmission name="${hardware_interface}_trans_joint_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_1">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${hardware_interface}_motor_joint_1">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- Transmission for joint 2 -->
    <transmission name="${hardware_interface}_trans_joint_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_2">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${hardware_interface}_motor_joint_2">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- Transmission for joint 3 -->
    <transmission name="${hardware_interface}_trans_joint_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_3">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${hardware_interface}_motor_joint_3">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- Transmission for joint 4 -->
    <transmission name="${hardware_interface}_trans_joint_4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_4">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${hardware_interface}_motor_joint_4">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- Transmission for joint 5 -->
    <transmission name="${hardware_interface}_trans_joint_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_5">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${hardware_interface}_motor_joint_5">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- Transmission for joint 6 -->
    <transmission name="${hardware_interface}_trans_joint_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_6">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${hardware_interface}_motor_joint_6">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <!-- Transmission for joint 7 -->
    <transmission name="${hardware_interface}_trans_joint_7">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint_7">
        <hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${hardware_interface}_motor_joint_7">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

</robot>
